<h2>{{ title }}</h2>
<strong>My Friends List</strong>
<table>
<thead>
  <th>First-name</th>
  <th>Last-name</th>
  <th>Nick-name</th>
  <th>GitHub Pages</th>
</thead>
<tr>
  <td>Thanawat </td>
  <td>Kaewinthorn</td>
  <td>Fuji</td>
  <td>
    <ul>
      <li><a href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-Sadsadaji">Lab02</a></li>
      <li><a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-Sadsadaji">Lab03</a></li>
      <li><a href="https://camt-mmit.github.io/2022_02-954447-001-week-04-basic-angular-Sadsadaji">Lab04</a></li>
    </ul>
  </td>
</tr>
<tr>
  <td>Pongphon</td>
  <td>Prommacharoen</td>
  <td>Arm</td>
  <td>
    <ul>
      <li><a href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-ArmPongpon180">Lab02</a></li>
      <li><a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-ArmPongpon180">Lab03</a></li>
      <li><a href="https://camt-mmit.github.io/2022_02-954447-001-week-04-basic-angular-ArmPongpon180">Lab04</a></li>
    </ul>
  </td>
</tr>
</table>
