<h2>My Profile</h2>
<h3>Basic Information</h3>
<div>
  <ul>
    <li><b>Name :</b> Susan Smith</li>
    <li><b>Gender :</b> Female</li>
    <li><b>Age :</b> 18</li>
  </ul>
</div>
<h3>Autobiography</h3>
<p>
  I was born on a warm, sunny day in June 15 in Chiang Mai, Thailand. I still live in Chiang Mai,
  Thailand, and I go to school at XXX School. I live with my mom, Kate; my brother, Jack; and my Aunt Molly.
  When I was born, my bother was fifteen-months-old and hide under the table from me.
  Jake is a sweet kid and he would do anything for me, but like all brothers and sisters we fight like cats and docs.
  Sometimes when no one was around, Jake would come pu to me and bite my toes for no reason.
  I still love him but only because he is my brother.
</p>
<h3>GitHub Pages</h3>
