<h2>{{ title }}</h2>
<h3>Basic Information</h3>
<div>
  <ul>
    <li><b>Name :</b> Pornpitak Kadta</li>
    <li><b>Gender :</b> Male</li>
    <li><b>Age :</b> 20</li>
  </ul>
</div>
<h3>Autobiography</h3>
<p>
  I was born on a warm, saturday day in Oct 5 in Chiang Mai, Thailand.
  I still live in Chiang Mai, Thailand, and I go to school at songkwaewittayakom .
  I live with my mom, wilaiwan ; my sister, Numping; and my GrandMa,Grandpa.
  Numping is a sweet kid and he would do anything for me, but like all brothers and sisters we fight like cats and docs.
</p>
<h3>GitHub Pages</h3>
<nav>
  <ul class="pad">
    <li class="link">
      <a href="https://camt-mmit.github.io/2022_02-954447-001-dom-and-javascript-PumXPer/">Lab02</a>
    </li>
    <li class="link">
      <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-PumXPer/">Lab03</a>
    </li>
    <li class="link">
      <a href="https://camt-mmit.github.io/2022_02-954447-001-week-04-basic-angular-PumXPer">Lab04</a>
    </li>
  </ul>
</nav>
